/* Fonts */

h2, p, nav, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.description h4 {
  text-align: justify;
  font-weight: 300;
}

hr {
  color: #777;
  background-color: #777;
  height: 1px;
}

.center h4 {
  color: #777;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 140%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

/* Elements */

.container {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.browserView, .code {
  border: 1px solid black;
  min-height: 450px;
}

.center {
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
}

.signUp {
  margin: 0 auto;
  width: 25%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.screenshot {
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.centered-2 {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 25px;
}

.signUp button {
  padding: 10px 20px;
  font-size: 130%;
  font-family: 'Ubuntu', sans-serif;
}

img {
  border: 1px solid #777;
  margin-bottom: 15px;
}

.info {
  margin-bottom: 60px;
}

.buttons button {
  padding: 5px 15px;
  margin-top: 5px;
}

.buttons-2 {
  padding-left: 0px!important;
}

.container-fluid {
  width: 100%!important;
}

.description {
  margin-bottom: 15px;
}

/* Lists */

.tests ul li {
  list-style-type: none;
}

.tests ul {
  padding-left: 0px;
}

input[type=checkbox] {
  margin-right: 20px;
}
/* Media Queries */

@media (max-width: 680px) {
    .screenshot img {
        width: 300px;
        margin-left: -40px;
    }
}





