/* Fonts */

h2, p, nav, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#content-1 h4, #content-2 h4 {
  text-align: justify;
  line-height: 130%;
}


h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 140%;
}

.description h4 {
  font-weight: 300;
  text-align: justify;
}

.center h4 {
  color: #777;
}

hr {
  background-color: #777;
  color: #777;
  height: 1px;
}

.tests span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}


/* Elements */

.container {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.container-margin {
  margin: 0 15px;
  padding: 0 15px;
}

.CodeMirror {
  height: 100%;
}

.browserView, .code {
  border: 1px solid black;
  min-height: 450px;
  padding: 0;
}

.center {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 70%;
}

.signUp {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 25%;
}

.screenshot {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
}

.centered-2 {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 50%;
}

.info {
  margin-bottom: 60px;
}

.description {
  margin-bottom: 15px;
}

/* Buttons */

.signUp button {
  font-size: 130%;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
}

.buttons button, .buttons2 button {
  margin-top: 5px;
  padding: 5px 15px;
}

.buttons2 button {
  margin-left: -15px;
}

.buttons-2 {
  padding-left: 0px!important;
}

.tests button {
  margin-left: 25px;
  padding: 5px 20px;
}

@media (max-width: 450px) {
  .tests button {
    margin-left: 0px;
  }
}

button.recording {
  background-color: #e7e7e7;
  border: 1px solid #777;
  margin-left: 15px;
  margin-bottom: 5px;
}

button.recording:hover {
  background-color: #D6D6D6;
}


/* once recording os on: background color D93925. Name on the button will
be: Stop recording; */

/* Lists */

.tests ul li {
  list-style-type: none;
}

.tests ul {
  padding-left: 0px;
}

input[type=checkbox] {
  margin-right: 20px;
}

@media (max-width: 680px) {
    .screenshot img {
        width: 300px;
        margin-left: -40px;
    }
}

img {
  border: 1px solid #777;
  margin-bottom: 15px;
}


/* Popup */


#sharePopup #content-1 {
  background-color: white;
  border: 5px solid #939393;
  border-radius: 5px;
  display: block;
  height: 35%;
  left: 7%;
  overflow: auto;
  padding: 16px;
  position: absolute;
  top: 25%;
  width: 35%;
  z-index:1002;
}

#sharePopup #content-2 {
  background-color: white;
  border: 5px solid #939393;
  border-radius: 5px;
  display: block;
  height: 35%;
  left: 60%;
  overflow: auto;
  padding: 16px;
  position: absolute;
  top: 25%;
  width: 25%;
  z-index:1002;
}

#sharePopup .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.50;
}







