/* Fonts */

h2, p, nav, h4, .consoleLogs {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#pickTestName label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.container-margin h4 {
  margin-left: -15px;
}

#intro1 h4, #intro2 h4 {
  text-align: justify;
  line-height: 130%;
}


h3, nav a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 140%;
}

.description h4 {
  font-weight: 300;
  text-align: justify;
}

.center h4 {
  color: #777;
}

hr {
  background-color: #777;
  color: #777;
  height: 1px;
}

.myTests span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}


/* Elements */

.container {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.container-margin {
  margin: 0 15px;
  padding: 0 15px;
}

.CodeMirror {
  height: 100%;
}

.browserView, .code {
  border: 1px solid black;
  padding: 0;
}

.center {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 70%;
}

.signUp {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 15%;
}

.screenshot {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
}

.centered-2 {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 50%;
}

.info {
  margin-bottom: 60px;
}

.description {
  margin-bottom: 15px;
}

@media (max-width: 470px) {
  #intro1 {
    max-width: 350px;
  }
}

/* Buttons */

.signUp button {
  font-size: 130%;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
}

.buttons button, .buttons2 button {
  margin-top: 10px;
  padding: 5px 15px;
}

.buttons2 button {
  margin-left: -15px;
}

.buttons-2 {
  padding-left: 0px!important;
}

.myTests button {
  margin-left: 25px;
  padding: 5px 20px;
}

button.recording-button {
  border: 1px solid #777;
  margin-bottom: 10px;
  margin-left: -15px;
}

button.start-recording {
  background-color: #e7e7e7;
}

button.start-recording:hover, button.cancel:hover {
  background-color: #D6D6D6;
}

button.cancel {
  color: white;
}

.nameButtons {
  margin: 0 auto;
  margin-top: 25px;
  width: 50%;
}

.nameButtons button {
  margin-right: 15px;
}

button.example-test {
  display: block;
  margin-bottom: 5px;
}

/* Lists */

.myTests ul li {
  list-style-type: none;
}

.myTests ul {
  padding-left: 0px;
}

input[type=radio] {
  margin-right: 20px;
}

@media (max-width: 680px) {
    .screenshot img {
        width: 300px;
        margin-left: -40px;
    }
}

img {
  border: 1px solid #777;
  margin-bottom: 15px;
}

#pickTestName input {
  width: 358px;
  margin-top: 25px;
  border: 2px solid #e7e7e7;
}

/* Popups */

.popUp .dialog {
  background-color: white;
  border: 5px solid #939393;
  border-radius: 5px;
  height: 250px;
  overflow: auto;
  padding: 16px;
  position: absolute;
  top: 25%;
  z-index:1002;
}

#examplesPopUp .dialog {
  left: 35%;
  width: 400px;
}

#pickTestName {
  left: 30%;
  width: 400px;
}

#popUp #intro1 {
  left: 7%;
  width: 428px;
}

#popUp #intro2 {
  left: 60%;
  width: 305px;
}

.popUp .overlay, #examplesPopUp .overlay {
  background-color: black;
  height: 100%;
  left: 0%;
  -moz-opacity: 0.8;
  opacity:.50;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1001;
}


@media (max-width: 770px) {
  #pickTestName {
    left: 20%;
  }
}
@media (max-width: 570px) {
  #pickTestName {
    width: 380px;
    left: 2%;
  }
}

@media (max-width: 570px) {
  #pickTestName input {
    width: 335px;
  }
}


/* Login buttons */

#login-buttons {
  margin-right: 200px;
}

#login-buttons .login-button, .accounts-dialog .login-button, #login-buttons .login-link-text {
  background: #337ab7;
  border: none;
  border-radius: 4px;
  color: #FFF;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  line-height: 20px;
  padding: 15px;
  text-decoration: none;
}

#login-buttons .login-link-text:hover {
  background-color: #7580ac;
}

#login-buttons .login-image {
  left: 10px;
  top: 15px;
}

#login-buttons .login-display-name {
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 0 15px;
}

#login-dropdown-list {
  top: 57px;
  left: 11px;
}

#login-buttons .login-close-text {
  display: none;
} 

@media (max-width: 767px) {
  #login-dropdown-list {
    margin-top: -54px;
    position: relative;
  }
}

@media (max-width: 767px) {
  #login-name-link, #login-sign-in-link {
    margin-left: 12px;
  }
}

