<template name="browsertest">
    {{> navigation}}
    {{> popUp}}
    {{> saveTestPopUp}}
    <div class="container-margin">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          {{#if isRecording}}
            <button class="btn btn-small btn-danger stop-recording recording-button" type="button">Stop recording</button>
          {{else}}
            <button class="btn btn-small recording-button start-recording" type="button">Start recording</button>
          {{/if}}
        </div>
        <div class="col-md-6 col-lg-6">
          {{#if testName}}
            <h4>Test name: &nbsp;&nbsp;{{ testName}}</h4>
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6 browserView">
          {{> browserView}}
        </div>
        <div class="col-md-6 col-lg-6 code">
          {{> code}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6">
          {{> buttons2}}
          {{> consoleLogs}}
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 buttons-2">
          {{> codeButtons}}
        </div>
      </div>
    </div>
</template>

<template name="saveTestPopUp">
  {{#if show}}
    <div class="popUp saveTestPopUp">
      <div id="pickTestName" class="dialog">
        <label for="testNameInput">Pick your test name</label>
        <input id="testNameInput" name="testName" type="text">
        {{#if error}}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{error}}
        </div>
        {{/if}}
        <div class="nameButtons">
          <button class="btn save btn-small btn-primary" type="button">Save</button>
          <button class="btn btn-small cancel" type="button">Cancel</button>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  {{/if}}
</template>

<template name="popUp">
  {{#if showWelcome}}
    <div id="popUp" class="popUp">
      {{#if showIntro1}}
        <div id="intro1" class="dialog">
          <h4>You can record your tests without having idea about Selenium. Just start the recording and perfom your tests manually. We will generate code in JavaScript (NightwatchJS) for you. You will see it on the right. You can save it and run whenever you would like!</h4>
          <button class="btn" type="button">Next</button>
        </div>
      {{/if}}
      {{#if showIntro2}}
        <div id="intro2" class="dialog">
          <h4>Want to write your tests manually instead of recording them? Go ahead and write them in NightwatchJS in the editor. You can save them and run whenever you would like.</h4>
          <button class="btn" type="button">Got it! Take me to the awesome!</button>
        </div>
      {{/if}}
      <div class="overlay"></div>
    </div>
  {{/if}}
</template>


<template name="browserView">
  {{> noVnc host="localhost" port="3000" password="empty"}}
</template>

<template name="code">
  <textarea id="seleniumCode" name="seleniumCode">{{currentCode}}</textarea>
</template>

<template name="buttons2">
  <div class="buttons2">
    <button class="btn btn-small btn-primary" type="button">See screenshots</button>
  </div>
</template>

<template name="consoleLogs">
  <div class="consoleLogs">
    <h4>Console logs</h4>
    {{{ logLines }}}
  </div>
</template>

<template name="codeButtons">
  <div class="buttons">
    <button class="btn btn-small btn-success run-code" type="button">Run</button>
    <button class="btn btn-small btn-primary save-code" type="button">Save</button>
  </div>
</template>
