<template name="browsertest">
  {{> navigation}}

  {{> popUp}}

  <button class="btn btn-small recording" type="button">Start recording</button>
  <div class="container-margin">
    <div class="row">
      <div class="col-md-6 col-lg-6 browserView">
        {{> browserView}}
      </div>
      <div class="col-md-6 col-lg-6 code">
        {{> code}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{> buttons2}}
        {{> consoleLogs}}
      </div>
      <div class="col-md-6 buttons-2">
        {{> codeButtons}}
      </div>
    </div>
  </div>
</template>

<template name="navigation">
  <nav class="navbar navbar-default" role="navigation">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#upper-navbar">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Browser test</a>
      </div>
      <div id="#upper-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Testing console</a></li>
          <li><a href="#">My tests</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>


<template name="popUp">
  <div id="sharePopup">
    <div id="content-1">
      <h4>You can record your tests without having idea about Selenium. Just start the recording and perfom your tests manually. We will generate code in JavaScript (NightwatchJS) for you. You will see it on the right. You can save it and run whenever you would like!</h4>
      <button class="btn" type="button">Next</button>
    </div>
    <div id="content-2">
      <h4>Want to write your tests manually instead of recording them? Go ahead and write them in NightwatchJS in the editor. You can save them and run whenever you would like.</h4>
      <button class="btn" type="button">Got it! Take me to the awesome!</button>
    </div>
    <div class="overlay"></div>
  </div>
</template>


<template name="browserView">
  {{> noVnc password="empty"}}
</template>

<template name="code">
  {{> CodeMirror id="seleniumCode" name="seleniumCode"
    options=options code=exampleCode}}
</template>

<template name="buttons2">
  <div class="buttons2">
    <button class="btn btn-small btn-primary" type="button">See screenshots</button>
  </div>
</template>

<template name="consoleLogs"><div class="consoleLogs"><h4>Console logs</h4></div></template>

<template name="codeButtons">
  <div class="buttons">
    <button class="btn btn-small btn-success run-code" type="button">Run</button>
    <button class="btn btn-small btn-primary" type="button">Save</button>
  </div>
</template>







