<template name="home">
  <div class="container">
    {{> navigation}}
    {{> pitchPart}}
    {{> information}}
  </div>
</template>

<template name="pitchPart">
  <div class="center"><h3>Create and execute your Selenium tests easily. No installation required</h3></div>
  <div class="center">
    <h4>Simply record or write your Selenium tests with no installation.</h4>
    <h4>Save them and quickly run them again in the future. Updating your tests has never been easier.</h4>
  </div>
  <div class="signUp">
    <button class="btn btn-large btn-success" type="button">Start using now</button>
  </div>
  <div class="screenshot"><img src="images/01.png"></div>
  <hr>
</template>

<template name="information">
  <h3 class="centered">What can you do?</h3>
  <h4 class="centered-2">Painlessly record your Selenium tests in the browser. No plugins required.</h4>
  <div class="row info">
    <div class="col-md-4 col-md-offset-2">
      <img src="images/02.png">
    </div>
    <div class="col-md-4 description">
      <h4>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem.</h4>
      <h4>quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est.</h4>
    </div>
  </div>

  <div class="row info">
    <h4 class="centered-2">Update your Selenium tests easily. Run them whenever you would like.</h4>
    <div class="col-md-4 col-md-offset-2 description">
      <h4>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem.</h4>
      <h4>quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est.</h4>
    </div>
    <div class="col-md-4">
      <img src="images/02.png">
    </div>
  </div>

  <h4 class="centered-2">Let everyone in your team do the testing. Save money and time.</h4>
  <div class="row info">
    <div class="col-md-4 col-md-offset-2">
      <img src="images/02.png">
    </div>
    <div class="col-md-4 description">
      <h4>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem.</h4>
      <h4>quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est.</h4>
    </div>
  </div>
</template>











