<template name="mytests">
  <div class="container">
    {{> navigation}}
    {{> tests}}
  </div>
</template>

<template name="tests">
  <div class="tests">
    <span>My tests created so far</span>
      <button class="btn btn-small btn-success" type="button">Run</button>
      <button class="btn btn-small btn-primary" type="button">Delete</button>
    <ul>
      <li>
        <input type="checkbox" id="c1" name="cc" />
        <label for="c1"><h4>My awesome test</h4></label>
      </li>
    </ul>
  </div>
</template>