<template name="myTests">
  {{> navigation}}
  <div class="container">
    <div class="myTests">
      <span>My tests created so far</span>
      <button class="btn btn-small btn-success" type="button">Run</button>
      <button class="btn btn-small btn-primary" type="button">Delete</button>
      <ul>
        {{#each tests}}
          {{> myTestsItem}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="myTestsItem">
  <li>
    <input type="checkbox" id="{{_id}}" name="{{_id}}" />
    <label for="{{_id}}"><h4>{{name}}</h4></label>
    <button class="btn edit" type="button">Edit</button>
  </li>
</template>
